/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
}

/* HEADER */
header {
  height: 100vh;
  background-color: #ffcc03;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* LOGO */
.logo {
  height: 120px;
}

/* NAVIGATION */
nav {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav li {
  list-style: none;
}

nav a {
  color: #343a40;
  transition: 0.2s;
}

a {
  text-decoration: none;
  font-weight: 600;
}

/* CONTENT */
.content {
  margin: 0 5%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.content-left {
  align-self: center;
}

.content-right img {
  height: 800px;
  margin-bottom: 10px;
}

/* VIDEO SAMPLE */
h1 {
  font-size: 24px;
  font-style: italic;
  color: #343a40;
  text-align: center;
  margin-bottom: 40px;
}

iframe {
  margin-bottom: 20px;
}

/* CALL TO ACTION */
.call-to-action {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.cta-button {
  padding: 15px 30px;
  border-radius: 9px;
  color: #ffffff;
}

.cta-button-red {
  background-color: #ff3925;
  margin-right: 15px;
}

.cta-button-red:hover {
  background-color: #e63321;
}

.cta-button-blue {
  background-color: #1abaee;
}

.cta-button-blue:hover {
  background-color: #17a7d6;
}

/* FEATURES */
.features {
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: #343a40;
}

.features img {
  height: 28px;
}

.features ion-icon {
  color: #343a40;
  font-size: 28px;
}

.feature-1,
.feature-2,
.feature-3,
.feature-4,
.feature-5,
.feature-6,
.feature-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.features-margin {
  margin-bottom: 40px;
}
